page-login {
    .bg-img{ 
        background: url(../assets/imgs/login/login_bg.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }      
    .icon-head{
        width: 100%;
        height: 35%;
        justify-content: center;
    }
    .icon-head img{
        width: 85%;
        text-align: center;
        margin: auto;
    
    }

    .segment-main ion-segment{
        background: #000 ;
        border-radius: 150px;
        color:#fff;
        margin-top: -30px;
    }

    .segment-main ion-segment .segment-button{
         color:#fff;
    }

    .segment .segment-button.activated, .segment .segment-button.segment-activated {
        border-color: transparent;
        opacity: 1;
        background-color: #f17f37;
        border-radius: 150px;
        color:#fff;
        
    }

    .segment-ios .segment-button{
        border: none !important;
    }

.login-seg{
    margin-top: 15%;
}

.login-seg p{
    text-align: center;
    font-weight: 200;
    margin-bottom: 0px;
    color:white;
}

.login-seg ion-input{
border-bottom: 1px solid rgb(255, 255, 255);
height: 40px;
}

.login-seg input{
    text-align: center;
    font-size: 17px;
    font-weight: 200;
}

.login-seg input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
  }
  .login-seg input::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
  }
  .login-seg input:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
  }
  .login-seg input:-moz-placeholder { /* Firefox 18- */
    color: #fff;
  }

  .login-seg .pass {
      margin-top: 25px;
  }
.remember-text ion-item{
    background: transparent;
    font-size: 13px;
    font-weight: 200;
}

.remember-text ion-item .item-inner{
    border: none !important;
}
.remember-text ion-item ion-checkbox{
margin-right:10px !important;
color:#fff;
}
.remember-text ion-label {
    margin-left: 0;
    color: white;
}
.remember-text ion-item .checkbox-icon {
    background: transparent;
    color: #fff !important;
    }
    .checkbox-md-dark .checkbox-checked{
        color:#fff;
        border-color:#fff;
    }
    .remember-text ion-item .checkbox-checked .checkbox-inner {
        border-color: #fff !important;
    }

    .login-seg .done-btn{
        background-color: #f17f37;
        border-radius: 150px;
        height: 44px;
        font-size: 15px;
    }
    .button-text-left{
        width:90%;
    }
    .done-btn img{
        width:7px;
        text-align:right;
    }
    .login-seg .forget{
        color: #fff;
    }

    .signup-btn{
        margin-top: 25px;
    }
}
