
<ion-header class="order-head">

   
   
    <ion-title> 
      <div class="img-div">
          <img src="assets/imgs/order/left_arrow.png" (click)="gotoHome()">
          {{ 'ORDER-DETAIL' | translate}}
      </div>
     </ion-title>
   
  </ion-header>
  
  
  <ion-content class="order-content">
    <img src="assets/imgs/order/cover_picture.png">
  
    <div class="head-cont">
      <img src="assets/imgs/order/gardening_service_icon.png">
      <h1>  {{ 'GARDENINGSMALL' | translate}}</h1>
      <p>{{ 'ORDERNUM' | translate}}
        <span>456789 </span>
      </p>
    </div>
  
    <ion-row class="form-cont">
      <ion-col col-3 no-padding>

        <ion-row class="calender-icon-row">
          <img  src="assets/imgs/order_detail/calendar.png">
        </ion-row>
        <ion-row class="dateAndTime">
         <span class="dateonly">18 March </span> 2018 <br> 05:00 PM
        </ion-row>
      </ion-col>
      <ion-col col-7 no-padding>
        <ion-row class="maintain-service"> {{ 'MAINSERVICE' | translate}}</ion-row>
        <ion-row class="customer-name">{{ 'CLIENTNAME' | translate}}</ion-row>
        <ion-row class="call-details">
          <ion-col col-1 no-padding>
              <img  src="assets/imgs/order/cal.png">
          </ion-col>
          <ion-col class="customer-number" col-11 no-padding>
             (000080) 34555 4555321
            </ion-col>
        </ion-row>
        <ion-row class="call-details">
            <ion-col col-1 no-padding>
                <img  src="assets/imgs/order/location.png">
            </ion-col>
            <ion-col class="customer-number" col-11 no-padding>
              {{ 'ADDRESS' | translate}}
              </ion-col>
          </ion-row>

      </ion-col>
      <ion-col col-2 no-padding>
        <ion-row class="map-image-row">
          <img  src="assets/imgs/order/map-image.png">
        </ion-row>
      </ion-col>
    </ion-row>
  
    <div class="order-description" *ngIf="service_fee == false">
      <p class="small-txt">{{ 'ORDERDESC' | translate}}
        ,</p>

      <ion-scroll scrollX="true" style="width: 80vw; height: 70px; margin: auto;">
        <ion-row nowrap>
          <img *ngFor="let item of imagesArray" src="assets/imgs/order/upload_image_1.png">
        </ion-row>
      </ion-scroll>
    </div>



    <div class="order-description" *ngIf="service_fee == true">
        <p class="txt-color-service"> {{ 'SERVICESFEE' | translate}}</p>
        <div class="fees-class">
          <div class="fees-detail">
            <p class="first-p"> {{ 'SERVFEES' | translate}}</p>
            <p class="sec-p">$60</p>
          </div>
    
          <div class="fees-detail">
            <p class="first-p"> {{ 'SPAREPARTS' | translate}}</p>
            <p class="sec-p">$30</p>
          </div>
    
    
          <div class="fees-detail">
            <p class="first-p"> {{ 'EXTRAFEE' | translate}}</p>
            <p class="sec-p">$10 </p>
          </div>
    
          <div class="fees-detail total-p">
              <p class="first-p"> {{ 'TOTAL' | translate}}</p>
              <p class="sec-p">$10</p>
            </div>
        </div>
    </div>


    <ion-row class="buttons-row">
      <button class="done-btn" ion-button round *ngIf="sendClient == true" (click)="sendtoClient()"><div class="button-text-left"> {{ 'SENDTOCLIENT' | translate}}</div><div class="button-arrow-right"> <img src="assets/imgs/login/right_arrow.png"></div> </button>
      <button class="done-btn" ion-button round *ngIf="startMain == true && acceptOrder == true" (click)="startMaintainence()"><div class="button-text-left"> {{ 'STRTMAINTENANCE' | translate}}</div><div class="button-arrow-right"> <img src="assets/imgs/login/right_arrow.png"></div> </button>
      <button class="finish-btn" ion-button round *ngIf=" finMain == true" (click)="finishMaintainence()"><div class="button-text-left"> {{ 'FINMAINTENANCE' | translate}}</div><div class="button-arrow-right"> <img src="assets/imgs/login/right_arrow.png"></div> </button>
      <button class="reject" ion-button round *ngIf="rejectorder == false && acceptOrder == false" (click)="rejectbutton()"> {{ 'REJECT' | translate}}</button>
      <button class="accept" ion-button round *ngIf="acceptOrder == false && startMain == false" (click)="acceptButton()"> {{ 'ACCEPT' | translate}}</button>
      <button class="finish-btn" ion-button round *ngIf=" feePaid == true" (click)="PaidFee()"> {{ 'PAID' | translate }} </button>

    </ion-row>
  </ion-content>