page-home {
    .bg-img{ 
        background: url(../assets/imgs/home/bg.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }   
    .col-custom{
        margin: auto;
        text-align: center;
        background: #fff;
        padding-top: 10%;
        padding-bottom: 20px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 48%;
        -ms-flex: 0 0 48%;
        flex: 0 0 48%;
        margin: 1%;
        width: 48%;
        border-bottom:2px #f17f37 solid;
    }
    .col-custom img{
        width: 53%;
        text-align: center;
        
    }

    .notification-div{
        height: 13%;
        background: #f17f37;
        width: 15%;
        position: absolute;
        float: right;
        right: 6px;
        top: 6px;
        border-radius: 50%;
        font-size: 14px;
        text-align: center;
        padding: 3px;
    }
    
    color: white;
    .icon-row{
        width: 100%;
        height: 60%;
        justify-content: center;
        align-items: center;
    }
   
    .icon-text-row{
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 40%;
        margin-top: 3%;
    }
    .col-custom p{
        font-size: 100%;
    }

    .home-head img{
        width: 35%;
    }

    .home-head .img-menu{
        width: 35%;
    }
    

    .home-head .btn-search{
        position: absolute;
        top: 14px;
        right: 0px;
    }

    .home-head  ion-title{
        width: 80%;
        text-align: center;
    }


    .home-head .toolbar-background{
        background: transparent;
    }

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        background-image: none !important;
    }
}
